* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  }

:root {
  --color-black: rgb(11, 13, 23);
  --color-blue: rgb(208, 214, 249);
  --color-white: rgb(255, 255, 255);
  --color-grey: rgb(255, 255, 255, 0.5);
  --color-darkGrey: rgb(255, 255, 255, 0.1);
  --color-darkGrey2: rgb(255, 255, 255, 0);
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 2rem 2rem 0 2rem;
  font-weight: 100;
  font-family: "Bellefair", serif;
  font-size: 1rem;
}

/* ***********************
*********** Fonts ********
*********************** */

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}

.blue {
  color: var(--color-blue);
}

.grey {
  color: var(--color-grey);
}

.darkGrey {
  color: var(--color-darkGrey);
}
.bg-black {
  background-color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-grey {
  background-color: var(--color-grey);
}

.bg-darkGrey {
  background-color: var(--color-darkGrey);
}

.h1 {
  font-family: "Bellefair", serif;
  font-size: 6.5rem;
  text-transform: uppercase;
}

.h2 {
  font-family: "Bellefair", serif;
  font-size: 5rem;
  text-transform: uppercase;
}

.h3 {
  font-family: "Bellefair", serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.h4 {
  font-family: "Bellefair", serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: var(--color-blue);
  text-transform: uppercase;
}

.subH1 {
  font-family: "Bellefair", serif;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.subH2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.146875rem;
  text-transform: uppercase;
}

.subH3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  color: var(--color-blue);
}

.navText {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
}

.bodyText {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.16875rem;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.valign {
  vertical-align: middle;
}

/* *************************************
*********** DISPLAY DESIGN MODEL********
************************************* */

.flex {
  display: flex;
}

.flex-hr {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}



.flex-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-nav2 {
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

.flex-nav2 p, .flex-nav2 a {
  margin: 0 1rem;
  padding: 1rem 0;
}

.flex-nav p, .flex-nav a {
  margin: 0 1rem;
  padding: 1rem 0;
}

.flex-top {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hr-mescouilles {
position: relative;
left: 2rem;
  width:20%;
padding-left: 4rem;
z-index: 2;
border: 1px solid var(--color-darkGrey)

}

.z100{
  z-index: 100;
}

.pad-hr {
  padding: 0 1rem;
}

.m-left {
  margin-left: 10rem;
}

.m-bot {
  margin-bottom: 2rem;
}

.m-bot1 {
  margin-bottom: 1rem;
}

.m-bot4 {
  margin-bottom: 4rem;
}

.margin {
  margin:2rem;
}

.border-spacing{
  border-spacing: 0.6rem;
}
.DM-table {
  width: 100%;
  border-spacing: 1rem;
}

.DM-table-colors {
  height: 5rem;
  vertical-align: bottom;
}

.DM-table-colors td {
  padding: 0 0 1rem 1rem;
  border: 1px solid var(--color-white);
}

.DM-columns {
  width: 50%;
  margin: 1rem;
}

.vehicule-column1 {
  width: 15%
}

.vehicule-column2 {
  width: 50%
}

.vehicule-column3 {
  width: 35%
}

.DM-navBarDemo-item:active {
  border-bottom: 2px solid var(--color-white);
}

.DM-navBarDemo p {
  border-bottom: 2px solid var(--color-darkGrey2);
}

.DM-navBarDemo-item:hover {
  border-bottom: 2px solid var(--color-grey);
  cursor: pointer;
}

.bouton-rond {
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  background: var(--color-white);
  cursor: pointer;
}

.bouton-rond:hover {
  background-color: var(--color-grey);
}

.DM-text-bouton {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.DM-bouton-rond-gris {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  background: var(--color-darkGrey);
}

.sliders1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mini-cercle {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.mini-cercle:hover {
background-color: var(--color-grey);
}

.mini-cercle2 {
  display: flex;
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  cursor: pointer;
  margin: 0.5rem 0;
  justify-content: center;
  align-items: center;
}

.mini-cercle2:hover {
  background-color: var(--color-grey);

}

.sliders2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}


/* *************************************
*********** DISPLAY INDEX **************
************************************* */

.blur {
  backdrop-filter: blur(4px);
}

.index-image {
  background-image: url(assets/home/background-home-desktop.jpg);
}

.destination-image {
  background-image: url(assets/destination/background-destination-desktop.jpg);

}

.active {
  border-bottom: 2px solid var(--color-white) !important;
}

.absolute {
position: absolute;
}

.vehiculePix{
/* position: absolute; */
position:relative;

;
  }

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}